* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.border {
  border: solid bisque;
}
h2 {
  color: chocolate;
  font-size: 40px;
}
h1 {
  color: chocolate;
  font-weight: bold;
  font-size: 70px;
}
img {
  width: 60%;
  height: 60%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
ul {
  list-style-type: none;
}
div {
  align-content: center;
  text-align: center;
  /* background-color: beige; */
}
@media (max-width: 431px) {
  a {
    cursor: pointer;
  }

  border {
    border: solid black;
  }
  body {
    display: grid;
    width: 100%;
    height: 900vh;
    grid-template-areas:
    "header"
    "inicio"
    "skills"
    "portafolio";
    grid-template-rows: 5vh 250vh 135vh 310vh;
    grid-template-columns: auto 100%;
    
  }
  
  #redes {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; /*secundario*/
    align-content: center;
    row-gap: 10px;
  }
  #lenguajes {
    grid-area: lenguajes;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; /*secundario*/
    align-content: center;
  }
  .child {
    width: 125px;
    height: 125px;
  }
  
  #inicio {
    grid-area: inicio;
    display: grid;
    width: 100%;
    height: 250vh;
    grid-template-areas:
    "imgSection imgSection"
    "nombre imgPresent"
    "descrip descrip"
    "habilidad puntos";
    grid-template-rows: 50vh 45vh 100vh 55vh;
    grid-template-columns: 50% 50% 50% 50%;
  }
  
  #usuario{
    grid-area: usuario;
    width: 5vh;
    height: 5vh;
  }
  
  #inic{
    grid-area: inic;
    width: 5vh;
    height: 5vh;
  }
  
  #final{
    grid-area: final;
    width: 5vh;
    height: 5vh;
  }
  #titHeader{
    grid-area: titHeader;
    width: 40vh;
    height: 5vh;
  }
  #titH{
    color: white;
  }
  #header img{
    width: 5vh;
    height: 5vh;
  }
  header {
    background-color: bisque;
    grid-area: header;
    display: grid;
    width: 100%;
    height: 5vh;
    grid-template-areas: 
    "usuario titHeader inic final";
    position: fixed;
    grid-template-columns: 20% 60% 10% 10%;
  }
  
  #imgSection {
    grid-area: imgSection;
  }

  #imgPresent {
    grid-area: imgPresent;
    background-color: aliceblue;
  }
  .imgRadius {
    border-radius: 40%;
  }
  #nombre {
    grid-area: nombre;
    justify-content: space-evenly;
    align-content: center;
    background-color: aliceblue;
  }
  #descrip {
    grid-area: descrip;
    font-size: 45px;
  }
  #habilidad {
    grid-area: habilidad;
  }
  #puntos {
    grid-area: puntos;
    font-size: 40px;
    text-align: left;
  }

  #imgSection {
    grid-area: imgSection;
    background-image: url("/img/img_code.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #skills {
    grid-area: skills;
    display: grid;
    width: 100%;
    grid-template-areas:
      "programar"
      "lenguajes"
      "intereses"
      "portafolio";
    grid-template-rows: 50vh;
    grid-template-columns: 100%;
  }
  #programar {
    font-size: 35px;
    grid-area: programar;
  }
  #intereses {
    grid-area: intereses;
    display: grid;
    width: 100%;
    height: 140vh;
    grid-template-areas:
      "titIntereses titIntereses"
      "titTec contTec"
      "titCine contCine"
      "titJuegos contJuegos"
      "duelo duelo";
    grid-template-rows: 10vh 30vh 30vh 30vh 40vh;
    grid-template-columns: 50% 50%;
  }
  #intereses h3 {
    color: blueviolet;
    font-size: 30px;
  }
  #intereses p {
    font-size: 20px;
  }
  #titIntereses {
    grid-area: titIntereses;
  }
  #titIntereses h2 {
    font-size: 50px;
  }
  #titTec {
    grid-area: titTec;
  }
  #contTec {
    grid-area: contTec;
  }
  #titCine {
    grid-area: titCine;
  }
  #contCine {
    grid-area: contCine;
  }
  #titJuegos {
    grid-area: titJuegos;
  }
  #contJuegos {
    grid-area: contJuegos;
  }
  #duelo {
    grid-area: duelo;
  }
  #diseno1 img,
  #diseno2 img,
  #diseno3 img {
    width: 150vw;
    height: 50vh;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  #portafolio {
    background-color: azure;
    grid-area: portafolio;
    width: 100%;
    height: 310vh;
    display: grid;
    grid-template-areas:
      "titPortafolio"
      "contDiseno1"
      "diseno1"
      "contDiseno2"
      "diseno2"
      "contDiseno3"
      "diseno3";
    grid-template-rows: 10vh 50vh 50vh 50vh 50vh 50vh 50vh;
    grid-template-columns: 100%;
    font-size: 30px;
  }
  #diseno1 {
    grid-area: diseno1;
  }
  #diseno2 {
    grid-area: diseno2;
  }
  #diseno3 {
    grid-area: diseno3;
  }
  #contDiseno1 {
    grid-area: contDiseno1;
  }
  #contDiseno2 {
    grid-area: contDiseno2;
  }
  #contDiseno3 {
    grid-area: contDiseno3;
  }
}
